body {
  background-color: #F6F6F6;
}

.btn-google {
  background-color: #fff;
  color: #7E98DF;
  border-color: #7E98DF;
}

.btn-google:hover {
  background-color: #7E98DF;
  color: #fff;
  border-color: #7E98DF;
}

.auth {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  max-width: 450px;
  padding: 30px 40px 30px 40px;
  border-radius: 15px;
}

.input-auth {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.line {
  background-color: rgb(207, 207, 207);
  height: 2px;
}

.title-bottom {
  margin-top: 40px;
  margin-bottom: 40px;
}